/*
  $color--primary: #fbf7f4;
*/

* {
  box-sizing: border-box;
}

/* typography */
html, body, h1, h2 {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif !important;
}

html, body {
  font-size: 16px;
}

h3, h4, h5, h6,
button {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif !important;
  text-transform: uppercase;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

.color--white {
  color: white;
}

/* generic classes and elements */
a,a:active,a:focus,a:visited {
  color: black !important;
}
a:hover {
  color: #444 !important;
}

.margin-none {
  margin: 0 !important;
}
.maxw-none {
  max-width: none !important;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section__header {
  padding: 8px 0;
}

/* buttons */
button.button {
  outline: none;
}

button.button,
button.button:active,
button.button:focus {
  background: black;
  text-transform: uppercase;
}
button.button:hover {
  background-color: #555;
}

button.button.button--orange,
button.button.button--orange:active,
button.button.button--orange:focus {
  background: #fba446;
}
button.button.button--orange:hover {
  background: #ec7a3b;
}

button.button.button--white,
button.button.button--white:active,
button.button.button--white:focus {
  background: #fff;
  color: #000 !important;
}
button.button.button--white:hover {
  background: #ddd;
}

button.button.button--yellow,
button.button.button--yellow:active,
button.button.button--yellow:focus {
  background: #fdcb06;
  color: #000 !important;
}
button.button.button--yellow:hover {
  background: #c5a93d;
}

button.button.button--gray,
button.button.button--gray:active,
button.button.button--gray:focus {
  background: #4b4a4a;
  color: #fff !important;
}
button.button.button--gray:hover {
  background: #616060;
}

button.button.button--red,
button.button.button--red:active,
button.button.button--red:focus {
  background: #ee2f26;
  color: #fff !important;
}
button.button.button--red:hover {
  background: #a22126;
}

.button-contain button.button {
  margin-right: 20px;
}

/* header */
header {}

.header__contain {
  height: 90px;
}

.header__link:first-child {
  margin-right: 18px;
}

.header__logo {
  max-height: 70px;
}

.button.header__right-button {
  margin-right: 10px !important;
}

@media screen and (max-width: 39.9375em) {
  .button.header__right-button {
    font-size: 0.6rem;
  }
}

/* charity nav */
.charity__nav-item {
  position: relative;
  outline: 1px solid #111;
}

.charity__nav-item[data-charity-name="water"].charity__nav-item--active { background-color: #369ff4; }
.charity__nav-item[data-charity-name="love"].charity__nav-item--active { background-color: #bc1e2c; }
.charity__nav-item[data-charity-name="trevor"].charity__nav-item--active { background-color: #e3621f; }
.charity__nav-item[data-charity-name="rescue"].charity__nav-item--active { background-color: #fec53a; }
.charity__nav-item[data-charity-name="wwf"].charity__nav-item--active { background-color: #e9e9e9; }

.charity__nav-item[data-charity-name="pedal"].charity__nav-item--active { background-color: #7dcce1; }
.charity__nav-item[data-charity-name="lemon"].charity__nav-item--active { background-color: #f8ee00; }
.charity__nav-item[data-charity-name="dallas"].charity__nav-item--active { background-color: #00457c; }
.charity__nav-item[data-charity-name="hunger"].charity__nav-item--active { background-color: #e9e9e9; }

.charity__nav-item.charity__nav-item--active {
  outline-color: transparent;
}

.charity__nav-item.charity__nav-item--active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 12px;
}
.charity__nav-item[data-charity-name="water"]:after { background-color: #369ff4; }
.charity__nav-item[data-charity-name="love"]:after { background-color: #bc1e2c; }
.charity__nav-item[data-charity-name="trevor"]:after { background-color: #e3621f; }
.charity__nav-item[data-charity-name="rescue"]:after { background-color: #fec53a; }
.charity__nav-item[data-charity-name="wwf"]:after { background-color: #e9e9e9; }

.charity__nav-item[data-charity-name="pedal"]:after { background-color: #7dcce1; }
.charity__nav-item[data-charity-name="lemon"]:after { background-color: #f8ee00; }
.charity__nav-item[data-charity-name="dallas"]:after { background-color: #00457c; }
.charity__nav-item[data-charity-name="hunger"]:after { background-color: #e9e9e9; }

.charity__nav-item--lg {
  height: 218px;
  margin: auto 6px;
}
.charity__nav-item--lg:first-child {
  margin-left: 12px;
}
.charity__nav-item--lg:last-child {
  margin-right: 12px;
}

.charity__nav-item--lg:not(.charity__nav-item--active):hover {
  box-shadow: 0 0 5px #828282;
}

.charity__nav-item--sm {
  margin: 5px 2px;
  height: 100px;
  cursor: pointer;
}

/* logos */
.charity__nav-logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.charity__nav-item--lg .charity__nav-logo {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  bottom: 30%;
}

.charity__nav-item--sm .charity__nav-logo {
  position: absolute;
  top: 10px;
  left: 33%;
  bottom: 10px;
  right: 33%;
}

[data-charity-name="water"] .charity__nav-logo { background-image: url(../img/logo_water.png); }
[data-charity-name="water"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_water--invert.png); }

[data-charity-name="love"] .charity__nav-logo { background-image: url(../img/logo_love.png); }
[data-charity-name="love"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_love--invert.png); }

[data-charity-name="trevor"] .charity__nav-logo { background-image: url(../img/logo_trevor.jpg); }
[data-charity-name="trevor"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_trevor--invert.png); }

[data-charity-name="rescue"] .charity__nav-logo { background-image: url(../img/logo_rescue.png); }
[data-charity-name="rescue"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_rescue--invert.png); }

[data-charity-name="wwf"] .charity__nav-logo { background-image: url(../img/logo_wwf.png); }

[data-charity-name="pedal"] .charity__nav-logo { background-image: url(../img/logo_pedal.png); }
[data-charity-name="pedal"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_pedal--invert.png); }

[data-charity-name="lemon"] .charity__nav-logo { background-image: url(../img/logo_lemon.png); }

[data-charity-name="dallas"] .charity__nav-logo { background-image: url(../img/logo_dallas.png); }
[data-charity-name="dallas"].charity__nav-item--active .charity__nav-logo { background-image: url(../img/logo_dallas--invert.png); }

[data-charity-name="hunger"] .charity__nav-logo { background-image: url(../img/logo_hunger.png); }

/* content */
.bg--tan {
  background-color: #fbf7f4;
}

.charity__content {
  /*height: 450px;*/
  margin-top: 12px;
  padding: 40px 30px;
}
html:not(.no-js) .charity__content {
  display: none;
}
html:not(.no-js) .charity__item--active .charity__content {
  display: block;
}

@media screen and (max-width: 39.9375em) {
  .charity__content {
    margin-top: -12px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.charity__item[data-charity-name="water"] .charity__content { background-color: #369ff4; }
.charity__item[data-charity-name="love"] .charity__content { background-color: #bc1e2c; }
.charity__item[data-charity-name="trevor"] .charity__content { background-color: #e3621f; }
.charity__item[data-charity-name="rescue"] .charity__content { background-color: #fec53a; }
.charity__item[data-charity-name="wwf"] .charity__content { background-color: #e9e9e9; }

.charity__item[data-charity-name="pedal"] .charity__content { background-color: #7dcce1; }
.charity__item[data-charity-name="lemon"] .charity__content { background-color: #f8ee00; }
.charity__item[data-charity-name="dallas"] .charity__content { background-color: #00457c; }
.charity__item[data-charity-name="hunger"] .charity__content { background-color: #e9e9e9; }

/* shared */
.slick-arrow:before,
.slick-arrow:after {
  color: #706e67 !important;
}

@media (min-width: 768px) {
  .slick-next {
      right: -50px;
  }
  .slick-prev {
      left: -50px;
  }
}



/* press */
.press {
  background-color: #fbf7f4;
}

/* press-cta */
.press-cta {
  padding: 20px;
}
.press-cta__button {
  margin: 20px;
}


/* footer */
footer {
  background-color: #fbf7f4;
  padding: 24px 2%;
}

footer.footer p,
footer.footer a, footer.footer a:active, footer.footer a:focus, footer.footer a:visited {
  color: #7e7c7b !important;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif !important;
}
footer a:hover {
  text-decoration: underline;
}

/* social-icon */
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  fill: #706e67;
}

.social-icon--2 {
  margin-right: 20px;
}

/* fb feed */
.fb-feed {
  padding: 0 10%;
}
